<div class="row">
  <div class="bg-light p-3 m-1 text-center mb-5" id="title">
    <h1 class="text-primary fw-bold">The Tech Blog</h1>
  </div>
</div>
{{!-- Edit an article --}}
<div class="row d-flex justify-content-center mb-5">
  <form class="edit-post bg-light p-3 m-1 col-6">
    <div class="mb-3">
      <h3 label class="form-label blog-post-title" for="edit-post">Title</h3>
      <input class="form-control" type="text" id="edit-post-title" value="{{title}}">
    </div>
    <div class="mb-3">
      <h4 label class="form-label blog-post-title" for="edit-post">Blog Content</h4>
      <textarea class="form-control" type="text" rows="6" id="edit-post-content">{{content}}</textarea>
    </div>
    <div class="text-center">
      <button class="btn btn-secondary" type="submit" value="cancel">Cancel</button>
      <button class="btn btn-primary" type="submit" id="id" data-id={{id}} value="update">Update</button>
    </div>
  </form>
</div>

<script src="/js/editArticle.js"></script>