<div class="row bg-light d-flex justify-content-center">
  <div class="border col-5 m-5">
    <h2 class="m-3 text-center">Login</h2>
    <form class="login-form">
      <div class="mb-3">
        <label class="form-label" for="email-login">Email address</label>
        <input class="form-control" type="email" id="email-login" />
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>

      </div>
      <div class="mb-3">
        <label class="form-label" for="password-login">Password</label>
        <input class="form-control" type="password" id="password-login" />
      </div>

      <div class="mb-3">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
    <div class="text-center pb-3">Not signed up yet? You can <a href="/signup">sign up</a> here.</div>
  </div>

</div>
{{!-- 
<div class="row">
  <div class="col-6">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="col-6">
    <h2>Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div> --}}

<script src="./js/login.js"></script>